<html>
    <head>
        <title>Minha Casa</title>
    </head>
    <body>
        <h1>Sensores</h1>
        <ul>
            {% for key, value in sensores.items() %}
                <li>{{ key }}: {{ value }}</li>
                {% if value < 20 %}
                    <p>Temperatura baixa</p>
                {% elif value >= 20 and value < 25 %}
                    <p  >Temperatura Ambiente</p  >
                {% else %}
                    <p  >Temperatura alta</p  >
                {% endif %}
            {% endfor %}
        </ul>
        <p>Voltar para <a href="/">página inicial</a>!</p>
    </body>
</html>